@import url("https://fonts.cdnfonts.com/css/gotham");
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
  margin: 0;
  left: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Gotham", sans-serif;
}

:root {
  --primary-color: #17181c;
  --secundary-color: #28a2ff;
  --terciary-color:#101013;
  --quartenary-color: #d2d2d2;
}
body {
    background-color: #17181c;
}
.nav {
  background: var(--terciary-color);
  height: 4.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 0.5px solid var(--primary-color);
  box-shadow: 0px 1px 0px 0px var(--secundary-color)
}
.options__nav {
  padding: 5px;
  text-align: center;
  display: flex;
}

.nav__item,
.nav__item:hover {
  cursor: pointer;
  color: var(--secundary-color);
  text-decoration: none;
  font-weight: 500;
  padding-bottom: 3px;
  position: relative;
  margin-right: 3.5rem;
}

.nav__item::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, var(--secundary-color), var(--secundary-color));
  background-size: 0 2px;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: background-size 0.2s ease-in-out;
}

.nav__item:hover::before {
  background-size: 100% 2px;
}

.section {
  display: flex;
  margin-right: 3rem;
  width: 50%;
  color: var(--quartenary-color);
}

.home {
  float: right;
  margin-top: 3.8rem;
  font-size: 1.1em;
  position: relative; /* É necessário definir a posição do elemento */
  z-index: 1; /* Valor maior do que a classe decoration__home */
}

.init {
  margin-top: 5rem;
}

.decoration__home {
  width: 65%;
  height: auto;
  filter: blur(5px) contrast(0.3) opacity(0.4);
  position: absolute;
  margin-left: 8rem;
  float: right;
}

.nome {
  color: var(--secundary-color);
  font-size: 1.1em;
}

.tag {
  padding-top: 10px;
  color: #d2d2d25b;
  font-family: "Satisfy", sans-serif;
  font-size: 1.5em;
}